/* navbar */
.navbar {
    height: 12vh;
}

.my_logo {
    max-height: 2rem;
}

.my_search {
    background-color: #E5E5E5;
}

.translated {
    transform: translate(0%, 40%);
}

/* sidebar */
.sidebar,
.right-content {
    height: 88vh;
}

.sidebar {
    background-color: #132A3F;
    background-image: url(../img/sidebar-bg.png);
}


.sidebar_button:hover {
    background-color: gray;
}

.sidebar i:before {
    width: 1rem;
    aspect-ratio: 1;
}

/* main */
.dashbar_badge {
    background-color: #165BBA;
}


/* class card */
.class-font {
    font-size: .7em;
}

.class_list:hover {
    background-color: #E5E5E5;

}

.class_name_img {
    width: 1rem;
    margin-right: .8rem;
    border-radius: 50%;
}

.class_button {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    color: gray;
    margin: .1rem;
    cursor: pointer;
}